<div class="container">
    <div class="title">ADD DATA EMPLOYEE</div>
    <form class="content">
      <form class="form-box px-3 was-validated" >
        <div class="user-details">
          <div class="input-box">
            <span class="details">FirstName</span>
            <input 
            type="text" 
            id="firstname"
            name="firstname"
            class="form-control"
            placeholder="FirstName"
            required>
            <small class="invalid-feedback">This field is required.</small>
          </div>

          <div class="input-box">
            <span class="details">LastName</span>
            <input 
            type="text"
            id="lastname"
            name="lastname"
            class="form-control"
            placeholder="LastName"
            required>
            <small class="invalid-feedback">This field is required.</small>
          </div>

          <div class="input-box">
            <span class="details">Username</span>
            <input
             type="text"
             id="username"
             name="username"
             class="form-control"
             placeholder="Username"
             required>
             <small class="invalid-feedback">This field is required.</small>
          </div>

          <div class="input-box">
            <span class="details">Email</span>
            <input 
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Email Address"
            required>
            <small class="invalid-feedback">This field is required.</small>
          </div>

          <div class="input-box">
            <span class="details">BirthDate</span>
            <input 
            type="datetime-local"
            id="birthdate"
            name="birthdate"
            class="form-control"
            placeholder="BirthDate"
            required>
            <small class="invalid-feedback">This field is required.</small>
          </div>

          <div class="input-box">
            <span class="details">Basic Salary</span>
            <input 
            type="number"
            id="basicsalary"
            name="basicsalary"
            class="form-control"
            placeholder="Basic Salary"
            required>
            <small class="invalid-feedback">This field is required.</small>
          </div>

          <div class="input-box">
            <span class="details">Status</span>
            <input 
            type="text"
             id="status"
             name="status"
             class="form-control"
             placeholder="Status"
             required>
             <small class="invalid-feedback">This field is required.</small>
          </div>

          <div class="input-box">
            <span class="details">Group</span>
            <input 
            type="text"
            id="group"
            name="group"
            class="form-control"
            placeholder="Group"
            required>
            <small class="invalid-feedback">This field is required.</small>
          </div>

          <div class="input-box">
            <span class="details">Description</span>
            <input 
            type="datetime-local"
            id="description"
            name="description"
            class="form-control"
            placeholder="Description"
            required>
            <small class="invalid-feedback">This field is required.</small>
          </div>

          
        </div>
        <div class="button">
            <a type="submit" class="btn btn-dark submit-btn">Save</a>
            
            <a [routerLink]="'/admins/employee-list'" type="submit" class="btn btn-secondary submit-btn1">Cancel</a>
        </div>
      </form>
    </form>
  </div>

 