<body>
    <div class="uc__wrapper">
        <div class="uc__details">
            <h1 class="title">MAINTANANCE</h1>
            <h3 class="intro">
                We are working hard to give you a better experience.
            </h3>
            <p class="uc__description">
                We are working hard on it & the site may go live very soon. We promise, it will be worth the wait!
            </p>
        </div>
        <div class="uc__art">
            <img src="../../../../assets//coming-soon.svg" alt="coming-soon">
        </div>
    </div>
</body>