<div class="container">
    <div class="title">UPDATED DATA EMPLOYEE</div>
    <form class="content">
      <form >
        <div class="user-details">

          <div class="input-box">
            <span class="details">FirstName</span>
            <input type="text" placeholder="FirstName"
            name="fullName" required>
            <div >
              <label class="validation-message">This field is required.</label>
            </div>
          </div>

          <div class="input-box">
            <span class="details">LastName</span>
            <input type="text" placeholder="LastName" required name="LastName">
            <div>
              <label class="validation-message">This field is required.</label>
            </div>
          </div>

          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Username" required
            name="email">
            <div>
              <label class="validation-message">This field is required.</label>
            </div>
          </div>

          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Email" required name="Email">
            <div>
              <label class="validation-message">This field is required.</label>
            </div>
          </div>

          <div class="input-box">
            <span class="details">BirthDate</span>
            <input type="datetime-local" placeholder="BirthDate" required name="BirthDate">
            <div>
              <label class="validation-message">This field is required.</label>
            </div>
          </div>

          <div class="input-box">
            <span class="details">Basic Salary</span>
            <input type="number" placeholder="Basic Salary" required
            name="patientComplaints">
            <div>
              <label class="validation-message">This field is required.</label>
            </div>
          </div>

          <div class="input-box">
            <span class="details">Status</span>
            <input type="text" placeholder="Status" required name="doctorName">
            <div>
              <label class="validation-message">This field is required.</label>
            </div>
          </div>

          <div class="input-box">
            <span class="details">Group</span>
            <input type="number" placeholder="Group" required
            name="group">
            <div>
              <label class="validation-message">This field is required.</label>
            </div>
          </div>

          <div class="input-box">
            <span class="details">Description</span>
            <input type="datetime-local" placeholder="Description" required name="doctorName">
            <div>
              <label class="validation-message">This field is required.</label>
            </div>
          </div>
        </div>
        <div class="button">
          <a type="submit" class="btn btn-dark submit-btn">Save</a>
          
          <a [routerLink]="'/admins/employee-list'" type="submit" class="btn btn-secondary submit-btn1">Cancel</a>
      </div>
      </form>
    </form>
  </div>

 