<div class="container">
    <div class="title">VIEWS DATA EMPLOYEE</div>
    <form class="content">
      <form >
        <div class="user-details">

          <div class="input-box">
            <span class="details">FirstName</span>
            <input 
            type="text" 
            placeholder="FirstName"
            name="fullName" 
            value="Airi"
            readonly>
          </div>

          <div class="input-box">
            <span class="details">LastName</span>
            <input 
            type="text" 
            placeholder="LastName" 
            name="LastName"
            value="Satou"
            readonly
            >
          </div>

          <div class="input-box">
            <span class="details">Username</span>
            <input 
            type="text" 
            placeholder="Username" 
            name="username"
            value="Airi Satou"
            readonly>
          </div>

          <div class="input-box">
            <span class="details">Email</span>
            <input 
            type="email" 
            placeholder="Email" 
            name="Email"
            value="airisatou@gmail.com"
            readonly>
           
          </div>

          <div class="input-box">
            <span class="details">BirthDate</span>
            <input 
            type="date" 
            placeholder="BirthDate" 
            name="birthdate"
            value="1991-01-12"
            readonly
            >
          </div>

          <div class="input-box">
            <span class="details">Basic Salary</span>
            <input 
            type="number" 
            placeholder="Basic Salary" 
            name="basicsalary"
            value="6000000"
            readonly>
          </div>

          <div class="input-box">
            <span class="details">Status</span>
            <input 
            type="text" 
            placeholder="Status" 
            name="status"
            value="Active"
            readonly>
          </div>

          <div class="input-box">
            <span class="details">Group</span>
            <input 
            type="text" 
            placeholder="Group" 
            name="group"
            value="Group 5"
            readonly>
          </div>

          <div class="input-box">
            <span class="details">Description</span>
            <input 
            type="text" 
            placeholder="Description" 
            name="description"
            value="description employee"
            readonly>
          </div>
        </div>
        <div class="button">
            <a [routerLink]="'/admins/employee-list'" type="submit" class="btn btn-dark submit-btn">Oke</a>
        </div>
      </form>
    </form>
  </div>

 